<link href="css/client.css" rel="stylesheet">

<body>

    <main id="toggle-margin-menu">

        <div class="row pb-4">
            <div class="col-sm-1 col-md-2 col-lg-4">
                <!-- <h4 style="margin-left: 20px;">Client</h4> -->
            </div>
            <div class="col-sm-11 col-md-10 col-lg-8">
                <div style="float: right;margin-right: 20px; margin-top: 15px; margin-bottom: -5px;" class="top-nav-margin">
                   
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-2 side-menu">
                <div id="commands-section" class="d-flex flex-column flex-shrink-0 ps-3 text-white bg-dark">
                    <!-- <div id="cmd-toggle-camera-1-on">Camera 1<input type="checkbox" class="form-check-input" /></div> -->
                    <!-- <div id="cmd-toggle-camera-2-on">Camera 2<input type="checkbox" class="form-check-input" /></div> -->
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-7 main-menu">
                <div class="row px-0">
                    <div class="col-sm-12 mb-2 px-3">
                        <div id="video-preview">
                            <img src="images/blacklogo.jpg">
                            <video autoplay style="display: none;"></video>
                            <canvas id="canvas-bounding-box" style="z-index: 0"></canvas>
                            <canvas id="canvas-arrow-bounding-box" style="z-index: 1;user-select: none;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="row px-1">

                    <div class="col-sm-12 d-flex convert-col">
                        <div class="col-sm-10 col-md-10 col-lg-8">
                            <div class="server-input input-group-sm preset-input">
                                <span>Preset&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <button id="cmd-toggle-preset-1" class="btn btn-success btn-sm preset"
                                    type="button">1</button>
                                <button id="cmd-toggle-preset-2" class="btn btn-success btn-sm preset"
                                    type="button">2</button>
                                <button id="cmd-toggle-preset-3" class="btn btn-success btn-sm preset"
                                    type="button">3</button>
                                <button id="cmd-toggle-preset-4" class="btn btn-success btn-sm preset"
                                    type="button">4</button>
                                <button id="cmd-toggle-preset-5" class="btn btn-success btn-sm preset"
                                    type="button">5</button>
                                <button id="cmd-toggle-preset-6" class="btn btn-success btn-sm preset"
                                    type="button">6</button>
                                <button id="cmd-toggle-preset-7" class="btn btn-success btn-sm preset"
                                    type="button">7</button>
                                <button id="cmd-toggle-preset-8" class="btn btn-success btn-sm preset"
                                    type="button">8</button>
                                <button id="cmd-toggle-preset-9" class="btn btn-success btn-sm preset"
                                    type="button">9</button>
                                <div class="ms-2 form-check form-switch">
                                    <input class="form-check-input presetinput" type="checkbox" role="switch"
                                        id="save-preset">
                                </div>
                                <span>Save</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-4">
                            <button id="btn-switch-video" type="button"
                                class="btn btn-success btn-sm">
                                Switch
                            </button>
                        </div>
                    </div>
                    <div class="video-input mt-2"></div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-3">
            
            </div>

        </div>

    </main>

    <!-- <footer id="server-version">
        Server V?
    </footer> -->

    <footer>
        <div class="settings-modal">
            <div class="settings-menu text-end">
                <div class="tabset">
                    <!-- <div class="tabs-view"> -->
                        <!-- Tab 1 -->
                        <input type="radio" name="tabset" id="tab1" aria-controls="AI" />
                        <label for="tab1">AI</label>
                        <!-- Tab 2 -->
                        <input type="radio" name="tabset" id="tab2" aria-controls="PTZ" />
                        <label for="tab2">PTZ</label>
                        <!-- Tab 3 -->
                        <input type="radio" name="tabset" id="tab3" aria-controls="Network" />
                        <label for="tab3">Network</label>
                        <!-- Tab 4 -->
                        <input type="radio" name="tabset" id="tab4" aria-controls="System" />
                        <label for="tab4">System</label>
                    <!-- </div> -->
                        <div class="tabset-imgs"> 
                            <div id="shortcut-single-track-keyboard">
                                <img src="images/crosshair.png" alt="crosshair">
                            </div>
                            <div id="shortcut-auto-single-track">
                                <img src="images/camera-automation.png" alt="camera-automation">
                            </div>
                            <div id="shortcut-auto-zoom">
                                <img src="images/aperture.png" alt="aperture">
                            </div>
                            <div id="shortcut-record-video">
                                <img src="images/record.png" alt="record">
                            </div>
                            <div id="shortcut-record-position">
                                <img src="images/log.png" alt="log">
                            </div>
                            <div>
                                <img src="images/camera-enhance.png" alt="camera-enhance">
                            </div>
                        </div>
                  
                    <div class="tab-panels">
                        <section id="AI" class="tab-panel">
                          <div id="commands-section" class="d-flex flex-column flex-shrink-0 text-white bg-dark">

                            <div id="cmd-toggle-detection">Object Detection <input type="checkbox" class="form-check-input" />
                            </div>
                            <div id="cmd-toggle-model">
                                Toggle Model
                            </div>
                            <div id="toggle-model-status">
                                Class Filter
                                <span id='toggle-model-status-callapse-btn' class="collapse-btn" onclick="collapseBtn_clickHandler(this.id)"
                                    style="margin-right: 9px;float: right;cursor:pointer;">
                                    +
                                </span>
                            </div>
                         
                            <div id="cmd-toggle-pose-estimation">Pose Estimation <input type="checkbox"
                                    class="form-check-input" /></div>
                            <div id="cmd-toggle-face-redaction">Face Redaction <input type="checkbox"
                                    class="form-check-input" /></div>
                            <div id="cmd-toggle-aruco">ArUco Marker <input type="checkbox" class="form-check-input" /></div>
                            <div id="cmd-toggle-enhancement">Image Enhancement <input type="checkbox"
                                    class="form-check-input" /></div>
                            <div id="cmd-toggle-stabilization">Video Stabilization <input type="checkbox"
                                    class="form-check-input" />
                            </div>
                            <div id="cmd-toggle-graphics-display">On Screen Display <input type="checkbox"
                                    class="form-check-input" />
                            </div>
        
                            <div id="cmd-toggle-pixel-counts">Object Pixel Count <input type="checkbox"
                                    class="form-check-input" /></div>
                            <div id="cmd-toggle-long-range-mode">Long Range Mode <input type="checkbox"
                                    class="form-check-input" /></div>
                          </div>
                        </section>
                        <section id="PTZ" class="tab-panel">
                          <div id="commands-section" class="d-flex flex-column flex-shrink-0 text-white bg-dark">
                                <div id="cmd-toggle-single-track-keyboard">Single Object Tracking <input type="checkbox"
                                    class="form-check-input" /> </div>
                                <div id="cmd-toggle-auto-single-track">Auto Single Track <input type="checkbox"
                                    class="form-check-input" /> </div>
                                <div id="cmd-toggle-camera-calibration">
                                    <span id="cmd-calibration-btn">
                                        Calibrate Mode
                                    </span>
                                    <span id='cmd-toggle-camera-calibration-callapse-btn' class="collapse-btn"
                                        style="margin-right: 9px;float: right;cursor:pointer;">
                                        +
                                    </span>
                                    <div id="cmd-toggle-video-response" >Video Response<input type="checkbox" style="margin-top: 4.5px"/></div>
                                    <div id="cmd-toggle-test-camera-improve" >P/T Test<input type="checkbox" style="margin-top: 4.5px"/></div>
                                </div>
                                <div id="cmd-toggle-auto-zoom">Auto Zoom<input type="checkbox" class="form-check-input" /></div>
                            </div>

                            <div class="server-input input-group-sm mt-1">
                                <span>Coordinate In&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div class="input-width">
                                    <input id="coordinate-input" type="text" value="" class="form-control">
                                </div>
                                &nbsp;
                                <button id="btn-update-coordinate" class="btn btn-success btn-sm"
                                    type="button">Update</button>
                            </div>

                        </section>
                        <section id="Network" class="tab-panel">
                            <div class="server-input input-group-sm" style="font-size: 15px;">
                                <span style="margin-right: 3px;">Server Address</span>
                                <div style="width: 120px;margin-right: 5px;">
                                    <input id="server-address" type="text" value="127.0.0.1" class="form-control">
                                </div>
                                <span style="margin-right: 3px;">Port</span>
                                <div style="width: 50px;margin-right: 5px;">
                                    <input id="server-port" type="text" value="8673" class="form-control">
                                </div>
                                <button id="btn-connect" class="btn btn-secondary btn-sm" type="button"
                                    style="height: 25px;">Connect</button>
                            </div>
                            <!-- <div id="main-info">&nbsp;</div> -->
                            <div id="commands-section" class="d-flex flex-column flex-shrink-0 text-white bg-dark"></div>
                            <div class="server-input input-group-sm mt-1">
                                <span>Cam 1 Video In&nbsp;&nbsp;</span>
                            <div class="input-width">
                                <input id="server-video-in-1" type="text" value="" class="form-control">
                            </div>
                            &nbsp;
                            <button id="btn-update-server-video-in-1" class="btn btn-success btn-sm" type="button">
                                Update
                            </button>
                            <div class="ms-3 form-check form-switch">
                                <input class="form-check-input presetinput" type="checkbox" role="switch"
                                    id="cmd-toggle-camera-1-status">
                            </div>
                            <span style="margin-left: 3px;">SDI/USB</span>
                         
                        </div>

                        <div class="server-input input-group-sm mt-1">
                            <span>Cam 2 Video In&nbsp;&nbsp;</span>
                            <div class="input-width">
                                <input id="server-video-in-2" type="text" value="" class="form-control">
                            </div>
                            &nbsp;
                            <button id="btn-update-server-video-in-2" class="btn btn-success btn-sm" type="button">
                                Update
                            </button>
                            <div class="ms-3 form-check form-switch">
                                <input class="form-check-input presetinput" type="checkbox" role="switch"
                                    id="cmd-toggle-camera-2-status">
                            </div>
                            <span style="margin-left: 3px;">SDI/USB</span>
                        </div>

                        <div class="server-input input-group-sm mt-1">
                            <span style="margin-right: 2px;">Video Out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <div class="input-width">
                                <input id="server-video-out" type="text" value="" class="form-control">
                            </div>
                            &nbsp;
                            <button id="btn-update-server-video-out" class="btn btn-success btn-sm"
                                type="button">Update</button>
                            <div class="ms-3 form-check form-switch">
                                <input class="form-check-input presetinput" type="checkbox" role="switch"
                                    id="cmd-toggle-rtsp-out">
                            </div>
                            <span style="margin-left: 3px;">Output</span>
                        </div>

                        <div class="server-input input-group-sm mt-1">
                            <span>Client Video In&nbsp;&nbsp;&nbsp;</span>
                            <div class="input-width">
                                <input id="client-video-in" type="text" value="" class="form-control">
                            </div>
                            &nbsp;
                            <button id="btn-update-client-video" class="btn btn-success btn-sm"
                                type="button">Update</button>
                        </div>

                        <div id="json-section">
                            <pre></pre>
                        </div>
                        </section>
                        <section id="System" class="tab-panel">
                          <div id="commands-section" class="d-flex flex-column flex-shrink-0 text-white bg-dark">

                            <div id="cmd-toggle-frame-grab">Frame Grab <input type="checkbox" class="form-check-input" /></div>
                            <div id="cmd-toggle-record-video">Record Video <input type="checkbox" class="form-check-input" />
                            </div>
                            <div id="cmd-toggle-record-position">CSV Logging<input type="checkbox" class="form-check-input" />
                            </div>
                          </div>
                          <div class="col-sm-12 d-flex server-input input-group-sm shutdown my-2">
                            <div class="col-sm-4 col-md-3 col-lg-2">
                                <button id="btn-shutdown" class="btn btn-success btn-sm" type="button">
                                    Shutdown Server
                                </button>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-2">
                                <button id="btn-reboot-jetson" class="btn btn-success btn-sm" type="button">
                                    Reboot VizEdge
                                </button>
                            </div>
                            <div class="col-sm-4 col-md-3 col-lg-2">
                                <button id="btn-shutdown-jetson" class="btn btn-success btn-sm" type="button">
                                    Shutdown VizEdge
                                </button>
                            </div>
                        </div>
        
                        <div class="d-flex flex-column flex-shrink-0 text-white">
                            <div class="PositionInput ps-1">
                                <label for="PositionInput">Input Status: </label>
                                <div id="gps"></div>
                                <div id="ais"></div>
                            </div>
                        </div>

                        </section>
                    </div>
                </div>
                

                <div class="auto-connect-input input-group-sm" style="font-size: 14px">
                    <span id="status" style="margin-right: 15px"
                      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                  
                    <span style="margin-right: 10px">Auto Connect</span>
                    <div class="form-check form-switch form-check-auto-connect">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id="auto-connect"
                      />
                    </div>
                </div>
                  
                <button id="btn-settings" class="btn btn-success btn-sm" type="button" onclick="settingsBtn()">
                    <img src="images/arrow-up.png" width="25" height="25" alt="arrow-up">
                    Settings
                </button>
            </div>
           
          
        </div>
    </footer>
    <script>
        var toggleModelState = false;
        var cameraCalibrationToggle = false;
        var cameraCalibrationState = false;
        var videoResponseState = false;

        function collapseBtn_clickHandler(id) {
            id = '#' + id;
            if ($(id).text() == '–') {
                if(id == '#toggle-model-status-callapse-btn' ) {
                    toggleModelState = false;
                } else if (id == '#cmd-toggle-camera-calibration-callapse-btn' ) {
                    // calibrateChange();
                    cameraCalibrationToggle = false;
                }  
                $(id).text('+')
                $(id).parent().find('div').addClass('zero-height')
            } else {
                if( id == '#toggle-model-status-callapse-btn' ) {
                    toggleModelState = true;
                } else if ( id == '#cmd-toggle-camera-calibration-callapse-btn' ) {
                    // calibrateChange();
                    cameraCalibrationToggle = true;
                }
                $(id).text('–')
                $(id).parent().find('div').removeClass('zero-height')
            }
        }

        function addClassToToggleDivs() {
            if ($('#toggle-model-status-callapse-btn.collapse-btn').text().trim() == '+') {
                $('#toggle-model-status-callapse-btn.collapse-btn').parent().find('div').addClass('zero-height')
            }
            if ($('#cmd-toggle-camera-calibration-callapse-btn.collapse-btn').text().trim() == '+') {
                $('#cmd-toggle-camera-calibration-callapse-btn.collapse-btn').parent().find('div').addClass('zero-height')
            }
        }

        function settingsBtn() {
            $('.tabset label').css('visibility', 'visible');
            if($('.settings-modal').hasClass('menu-height')) {
                $('.tabset input').prop('checked', false);
                $('.tabset label').css('visibility', 'hidden');
                $('.tabset-imgs').css('display', '');
            } else {
                $('.tabset-imgs').css('display', 'none');
            }
            $('.settings-modal').toggleClass('menu-height');
            $('#toggle-margin-menu').toggleClass('toggle-margin-menu');
            $('#btn-settings img').attr("src","images/arrow-up.png");
            $('.menu-height #btn-settings img').attr("src","images/arrow-down.png");
        }
        $('.tabset label').css('visibility', 'hidden');

        $('.tabset label').click(()=> {
            $('.settings-modal').addClass('menu-height');
            $('#toggle-margin-menu').addClass('toggle-margin-menu');
            $('.menu-height #btn-settings img').attr("src","images/arrow-down.png");
            $('.tab-panels-show').css('height', '300px');
        })

     
        $(() => {

            var data;
            var timeout;
            var isArrowDrawing = false;

            $("button").click(function () {
                this.blur();
                if (!$(this)[0].classList.contains('preset')) {
                    if ($("#save-preset").is(":checked") == true) {
                        $('input.presetinput[type=checkbox]').click();
                    }
                }
            });

            // $("input").click(function () {
            //     this.blur();
            // });

            let server = $(location).attr('hostname');
            //server = "82.7.160.220";
            $("#server-address").val(server);

            const canvas = document.getElementById('canvas-bounding-box');
            const ctx = canvas.getContext('2d');

            const canvas2 = document.getElementById('canvas-arrow-bounding-box');
            const ctx2 = canvas2.getContext('2d');
            // console.log(canvas.getBoundingClientRect().width, canvas.getBoundingClientRect().height);
            // console.log(canvas2.getBoundingClientRect().width, canvas2.getBoundingClientRect().height);
            let startPosition = { x: 0, y: 0 };
            let lineCoordinates = { x: 0, y: 0 };
            let isDrawStart = false;

            const getClientOffset = (event) => {
                const { pageX, pageY } = event.touches ? event.touches[0] : event;
                // console.log(pageX, pageY);
                const x = pageX - canvas.offsetLeft + $('#canvas-bounding-box').offset().left;
                const y = pageY - canvas.offsetTop + $('#canvas-bounding-box').offset().top;
                // console.log({ x, y })
                return { x, y }
            }

            const drawLine = () => {
                drawArrow(ctx2, (window.screen.width * window.devicePixelRatio) / 2, (window.screen.height * window.devicePixelRatio) / 2, lineCoordinates.x, lineCoordinates.y, 3, '#ffa500');
            }

            const mouseDownListener = (event) => {
                // console.log('Mouse Down');
                startPosition = getClientOffset(event);
                isDrawStart = true;
            }

            const mouseMoveListener = (event) => {
                // console.log('Mouse Move');
                if (!isDrawStart) return;
                lineCoordinates = getClientOffset(event);
                clearCanvas();
                if (ctx.isPointInPath(startPosition.x, startPosition.y)) {
                    isArrowDrawing = true;
                    drawLine();
                }
            }

            const mouseupListener = (event) => {
                // console.log('Mouse Up');
                isDrawStart = false;
                isArrowDrawing = false;
                if (ctx.isPointInPath(startPosition.x, startPosition.y)) {
                    clearCanvas();
                }
            }

            const clearCanvas = () => {
                ctx2.clearRect(0, 0, canvas.width, canvas.height)
            }

            canvas2.addEventListener('mousedown', mouseDownListener);
            canvas2.addEventListener('mousemove', mouseMoveListener);
            canvas2.addEventListener('mouseup', mouseupListener);
            canvas2.addEventListener('touchstart', mouseDownListener);
            canvas2.addEventListener('touchmove', mouseMoveListener);
            canvas2.addEventListener('touchend', mouseupListener);

            function drawArrow(ctx2, fromx, fromy, tox, toy, arrowWidth, color) {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send({
                        control_command: "toggle-camera-move",
                        extra_infos: {
                            x: tox,
                            y: toy,
                        },
                    });
                }
                // console.log(fromx, fromy, tox, toy);
                //variables to be used when creating the arrow
                var headlen = 10;
                var angle = Math.atan2(toy - fromy, tox - fromx);
                ctx2.save();
                ctx2.strokeStyle = color;
                // starting path of the arrow from the start square to the end square and drawing the stroke
                ctx2.beginPath();
                ctx2.moveTo(fromx, fromy);
                ctx2.lineTo(tox, toy);
                ctx2.lineWidth = arrowWidth;
                ctx2.stroke();
                // starting a new path from the head of the arrow to one of the sides of the point
                ctx2.beginPath();
                ctx2.moveTo(tox, toy);
                ctx2.lineTo(tox - headlen * Math.cos(angle - Math.PI / 7), toy - headlen * Math.sin(angle - Math.PI / 7));
                // path from the side point of the arrow, to the other side point
                ctx2.lineTo(tox - headlen * Math.cos(angle + Math.PI / 7), toy - headlen * Math.sin(angle + Math.PI / 7));
                // path from the side point back to the tip of the arrow, and then again to the opposite side point
                ctx2.lineTo(tox, toy);
                ctx2.lineTo(tox - headlen * Math.cos(angle - Math.PI / 7), toy - headlen * Math.sin(angle - Math.PI / 7));
                // draws the paths created above
                ctx2.stroke();
                ctx2.restore();
            }
            canvas.addEventListener('mouseup', e => {
                if (ws.readyState === WebSocket.OPEN) {
                    const rect = canvas.getBoundingClientRect();
                    ws.send(`single-track ${parseInt((e.clientX - rect.left) * canvas.width / rect.width)} ${parseInt((e.clientY - rect.top) * canvas.height / rect.height)}`);
                }
            });

            let ws;

            $('#btn-connect').click(function () {

                if ($(this).hasClass('btn-connected')) {
                    ws.close();
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    $('#json-section pre').html('');
                    return;
                }

                ws = new WebSocket(`ws://${$('#server-address').val()}:${$('#server-port').val()}`);
                ws.onclose = () => $('#btn-connect').html('Disconnected').removeClass('btn-connected').addClass('btn-disconnected');
                ws.onerror = () => {
                    $("#status").removeClass('online').addClass('offline');
                    $("#status").html("Can't Connect");
                }
                ws.onmessage = e => {
                    const json = JSON.parse(e.data);
                    if (json.objects) {
                        // console.log(json);
                        // main info
                        // $('#main-info').html(`${json.width} x ${json.height} | FPS Capture: ${json.fpsCap} | FPS Detection: ${json.fpsDet} | Delay: ${json.delay}`);
                        if (json.width != canvas.width) canvas.width = ((json.width > 1920) ? 1920 : json.width);
                        if (json.height != canvas.height) canvas.height = ((json.height > 1080) ? 1080 : json.height);
                        if (json.width != canvas2.width) canvas2.width = ((json.width > 1920) ? 1920 : json.width);
                        if (json.height != canvas2.height) canvas2.height = ((json.height > 1080) ? 1080 : json.height);
                        $('#gps').html(`Position: ${json.posStatus}`);
                        $('#ais').html(`AIS: ${json.aisStatus}`);
                        // objects json
                        $('#json-section pre').html(JSON.stringify(json.objects, null, 2));

                        // draw bounding boxes on canvas
                        ctx.clearRect(0, 0, canvas.width, canvas.height);
                        json.objects.forEach(({ singleTracking, x, y, w, h, name, id }) => {
                            ctx.beginPath();
                            ctx.font = "30px Arial";
                            ctx.strokeStyle = singleTracking ? '#ffa500' : '#50ff00';
                            ctx.fillStyle = "#50ff00";
                            if (!isArrowDrawing) {
                                ctx.arc(canvas.width / 2, canvas.height / 2, 40, 0, 2 * Math.PI);
                                ctx.fillText('+', (canvas.width / 2) - 9, (canvas.height / 2) + 10);
                            } else {
                                ctx.arc(canvas.width / 2, canvas.height / 2, 40, 0, 2 * Math.PI);
                            }
                            ctx.strokeStyle = singleTracking ? '#ffa500' : '#50ff00';
                            ctx.fillStyle = "#50ff00";

                            if ($('#cmd-toggle-graphics-display input').is(":checked")) {
                                ctx.fillText(`${json.width} x ${json.height} | FPS Capture: ${json.fpsCap} | FPS Detection: ${json.fpsDet} | Delay: ${json.delay}`, 20, 45);
                                ctx.fillText(json.cameraServerStatus, 20, 85);
                                if (data) {
                                    ctx.fillText(data, 20, 125);
                                }
                                let x = json.gpsFromServer.split(',')[1];
                                let y = json.gpsFromServer.split(',')[2];
                                let z = json.gpsFromServer.split(',')[3];
                                ctx.fillText(x?x:'', 20, 1000);
                                ctx.fillText(y?y:'', 20, 1035);
                                ctx.fillText(z?z:'', 20, 1070);
                                ctx.fillText(json.currentModelname, json.currentModelname.length > 10 ? 1760 : 1770, 1070);
                            }

                            if (singleTracking) {
                                var delta = Math.max(w, h);
                                delta = delta / 5
                                ctx.beginPath();
                                ctx.moveTo(x + w / 2 - delta / 3, y + h / 2);
                                ctx.lineTo(x + w / 2 + delta / 3, y + h / 2);
                                ctx.stroke();
                                ctx.beginPath();
                                ctx.moveTo(x + w / 2, y + h / 2 - delta / 3);
                                ctx.lineTo(x + w / 2, y + h / 2 + delta / 3);
                                ctx.stroke();
                            }
                            ctx.lineWidth = 2;
                            ctx.rect(x, y, w, h);
                            ctx.font = "16px Arial";
                            let text = name + ((id == null || id == undefined || id == 'null') ? '' : ' ,ID: ' + id);
                            ctx.fillText(text, x, y - 5);
                            ctx.stroke();
                        });
                    } else {
                        // console.log(json);
                        $('#server-version').html('Server ' + json.version);
                        // $('#server-video-in').val(json.serverIn);

                        if (!$("#server-video-in-1").is(":focus")) {
                            $('#server-video-in-1').val(json.serverIn1);
                        }
                        if (!$("#server-video-in-2").is(":focus")) {
                            $('#server-video-in-2').val(json.serverIn2);
                        }
                        if (!$("#server-video-out").is(":focus")) {
                            $('#server-video-out').val(json.serverOut);
                        }
                        // TODO: Unify naming convention for code generalization
                        $('#cmd-toggle-detection input').prop('checked', json.detection);
                        $('#cmd-toggle-pose-estimation input').prop('checked', json.poseEstimation);
                        $('#cmd-toggle-single-track-keyboard input').prop('checked', json.singleTracking);
                        $('#cmd-toggle-auto-single-track input').prop('checked', json.autoSingleTrack);
                        $('#cmd-toggle-face-redaction input').prop('checked', json.faceRedaction);
                        $('#cmd-toggle-aruco input').prop('checked', json.arucoDetection);
                        $('#cmd-toggle-enhancement input').prop('checked', json.enhancement);
                        $('#cmd-toggle-stabilization input').prop('checked', json.stabilization);
                        $('#cmd-toggle-graphics-display input').prop('checked', json.graphicsDisplay);

                        //$('#cmd-toggle-camera-calibration input').prop('checked', json.cameraCalibration);
                
                        // if(json.cameraCalibration == 0 ) {
                        //     $('#cmd-toggle-camera-calibration-callapse-btn').text('+')
                        //     $('#cmd-toggle-camera-calibration-callapse-btn').parent().find('div').addClass('zero-height')
                        // }
                        // else if(json.cameraCalibration == 1 ) {
                        //     $('#cmd-toggle-camera-calibration-callapse-btn').text('-')
                        //     $('#cmd-toggle-camera-calibration-callapse-btn').parent().find('div').removeClass('zero-height')
                        // }

                        
                        $('#cmd-toggle-pixel-counts input').prop('checked', json?.pixelCounts);
                        $('#cmd-toggle-long-range-mode input').prop('checked', json?.longRangeMode);
                        $('#cmd-toggle-frame-grab input').prop('checked', json?.frameGrab);
                        $('#cmd-toggle-record-video input').prop('checked', json?.recordingVideo);
                        $('#cmd-toggle-record-position input').prop('checked', json?.recordPositionData);
                        // $('#cmd-toggle-camera-1-on input').prop('checked', json.camera1On);
                        // $('#cmd-toggle-camera-2-on input').prop('checked', json.camera2On);
                        $('#cmd-toggle-auto-zoom input').prop('checked', json?.testCamera);
                        $('#cmd-toggle-test-camera-improve input').prop('checked', json?.testCameraImprove);
                        $('#cmd-toggle-model').html('Toggle Model');
                        $('#cmd-toggle-camera-1-status').prop('checked', json.camera1On);
                        $('#cmd-toggle-camera-2-status').prop('checked', json.camera2On);
                        $('#cmd-toggle-rtsp-out').prop('checked', json.rtspOut);

                        $('#toggle-model-status-callapse-btn.collapse-btn').parent().find('div').remove();

                        for (const c in json.classes) {
                            $('#toggle-model-status').append(`<div class="${c.toLowerCase()}" data-class="${c}"><label for="${c + 1}">${c}</label><input type="checkbox" id="${c + 1}" class="${c.toLowerCase()}" ${json.classes[c] && 'checked'}></div>`);
                        }
                        addClassToToggleDivs();
                        // console.log(toggleModelState)
                        // if (toggleModelState) {
                            // collapseBtn();
                        // }
                    }
                }
                ws.onopen = () => $('#btn-connect').html('Connected!').removeClass('btn-disconnected').addClass('btn-connected')
            });

            ['detection', 'model', 'single-track-keyboard', 'pose-estimation', 'auto-single-track', 'face-redaction', 'aruco', 'enhancement', 'stabilization', 'graphics-display', 'pixel-counts', 'long-range-mode', 'frame-grab', 'record-video', 'record-position', 'test-camera-improve', 'camera-1-on', 'camera-2-on', 'camera-1-status', 'camera-2-status', 'auto-zoom', 'test-camera'].forEach(feature =>
                $('#cmd-toggle-' + feature).click(e => {
                    if (ws.readyState === WebSocket.OPEN) {
                        ws.send('toggle-' + feature);
                    }
                })
            );

            ['single-track-keyboard', 'auto-single-track', 'record-video', 'auto-zoom', 'record-position'].forEach(feature =>
                $('#shortcut-' + feature).click(e => {
                    $('#cmd-toggle-' + feature + ' input').trigger('change');
                    if (ws.readyState === WebSocket.OPEN) {
                        ws.send('toggle-' + feature);
                    }
                })
            );




            ['1', '2', '3', '4', '5', '6', '7', '8', '9'].forEach(preset =>
                $('#cmd-toggle-preset-' + preset).click(e => {
                    if ($("#save-preset").is(":checked") == true) {
                        if (ws?.readyState === WebSocket.OPEN) {
                            ws.send('toggle-save-preset-' + preset);
                        }
                    } else {
                        if (ws?.readyState === WebSocket.OPEN) {
                            ws.send('toggle-preset-' + preset);
                        }
                    }
                })
            );

            $('#btn-update-server-video-in-1').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send(`update-sever-video-in-1 ${$('#server-video-in-1').val()}`)
                }
            });

            $('#btn-update-server-video-in-2').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send(`update-sever-video-in-2 ${$('#server-video-in-2').val()}`)
                }
            });

            $('#btn-update-server-video-out').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send(`update-sever-video-out ${$('#server-video-out').val()}`)
                }
            });

            $('#btn-switch-video').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('switch-video');
                }
            });

            $('#btn-update-client-video').click(() => {
                const src = $('#client-video-in').val();
                if (src) {
                    $('#video-preview img').hide();
                    $('#video-preview video').attr('src', src).show();
                } else {
                    $('#video-preview video').attr('src', '').hide();
                    $('#video-preview img').show();
                }
            });

            $('#btn-update-coordinate').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send(`update-coordinate ${$('#coordinate-input').val()}`)
                }
            });

            $('#btn-shutdown').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('shutdown');
                }
            });
            $('#btn-reboot-jetson').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('reboot-jetson');
                }
            });

            $('#btn-shutdown-jetson').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('shutdown-jetson');
                }
            });

            $('#btn-toggle-moveleft').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-moveleft');
                }
            });

            $('#btn-toggle-moveright').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-moveright');
                }
            });

            $('#btn-toggle-moveup').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-moveup');
                }
            });

            $('#btn-toggle-movedown').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-movedown');
                }
            });

            $('#btn-toggle-zoomin').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-zoomin');
                }
            });

            $('#btn-toggle-zoomout').click(() => {
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-zoomout');
                }
            });

            // $('#cmd-toggle-graphics-display input').on('change', function () {
            // });
            $('#toggle-model-status').on('click', 'div', function (e) {
                e.stopPropagation();
                if (timeout) clearTimeout(timeout);
                let text = $(this).find('input')[0].className;
                text = text.charAt(0).toUpperCase() + text.slice(1);
                $(this).find('input').is(":checked") ? data = text + ' Disabled' : data = text + ' Enabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 4000)
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send(`toggle-model-class ${$(this).data('class')}`);
                }
            });

            $(document).on('change', '#toggle-model-status input', function (e) {
                e.stopPropagation();
                if (timeout) clearTimeout(timeout);
                let text = $(this)[0].className;
                text = text.charAt(0).toUpperCase() + text.slice(1);
                this.checked ? data = text + ' Enabled' : data = text + ' Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 4000)
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send(`toggle-model-class ${$(this).data('class')}`);
                }
            });

            $(document).on('click', '#toggle-model-status div', function (e) {
                // if (timeout) clearTimeout(timeout);
                // let text = $(this)[0].className;
                // text = text.charAt(0).toUpperCase() + text.slice(1);
                // this.checked ? data = text + ' Enabled' : data = text + ' Disabled';
                // timeout = setTimeout(() => {
                //     data = '';
                // }, 4000)
            });
            $(document).on('change', '#cmd-toggle-model input', function () {
                if (timeout) clearTimeout(timeout);
                let text = $(this)[0].className;
                text = text.charAt(0).toUpperCase() + text.slice(1);
                this.checked ? data = text + ' Enabled' : data = text + ' Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 4000)
            });

            $(document).on('click', '#cmd-toggle-model div', function () {
                if (timeout) clearTimeout(timeout);
                let text = $(this)[0].className;
                text = text.charAt(0).toUpperCase() + text.slice(1);
                this.checked ? data = text + ' Enabled' : data = text + ' Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 4000)
            });

            // $('#cmd-toggle-single-track-keyboard input').on('change', function () {
            //     if (timeout) clearTimeout(timeout);
            //     this.checked ? data = 'Single Object Track Enabled' : data = 'Single Object Track Disabled';
            //     timeout = setTimeout(() => {
            //         data = '';
            //     }, 3000)
            // });

            $('#cmd-toggle-auto-single-track input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Auto Track Enabled' : data = 'Auto Track Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });

            $('#cmd-toggle-pose-estimation input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Pose Graphic Enabled' : data = 'Pose Graphic Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });
            $('#cmd-toggle-face-redaction input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Face Redaction Enabled' : data = 'Face Redaction Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });
            $('#cmd-toggle-aruco input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'ArUco Marker Enabled' : data = 'ArUco Marker Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });
            $('#cmd-toggle-enhancement input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Image Enhancement Enabled' : data = 'Image Enhancement Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });
            $('#cmd-toggle-stabilization input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Video Stabilization Enabled' : data = 'Video Stabilization Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });

            
            

            /*$('#cmd-toggle-camera-calibration input').on('change', function () {
                
                console.log(22)
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Calibrate Mode Enabled' : data = 'Calibrate Mode Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });*/

            $('#cmd-calibration-btn,  #cmd-toggle-camera-calibration-callapse-btn').on('click', function () {
                collapseBtn_clickHandler('cmd-toggle-camera-calibration-callapse-btn');
                if (timeout) clearTimeout(timeout);
                cameraCalibrationState = !cameraCalibrationState;
                cameraCalibrationState ? data = 'Calibrate Mode Enabled' : data = 'Calibrate Mode Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-camera-calibration');
                    console.log('toggle-camera-calibration');
                }
            });

            

            $('#cmd-toggle-video-response input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Video Response ON' : data = 'Video Response OFF';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-test-camera');
                    console.log('toggle-test-camera');
                }
            });

            $('#cmd-toggle-pixel-counts input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Pixel Counter Enabled' : data = 'Pixel Counter Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });
            $('#cmd-toggle-long-range-mode input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Long Range Mode Enabled' : data = 'Long Range Mode Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });
            $('#cmd-toggle-frame-grab input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Frame Grab Enabled' : data = 'Frame Grab Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });

            $('#cmd-toggle-record-video input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Record Video Enabled' : data = 'Record Video Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });
            $('#cmd-toggle-record-position input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Logging Enabled' : data = 'Logging Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });
            $('#cmd-toggle-auto-zoom input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Auto Zoom ON' : data = 'Auto Zoom OFF';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-test-camera');
                    console.log('toggle-test-camera');
                }
            });
            $('#cmd-toggle-test-camera-improve input').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Test camera Dougs ON' : data = 'Test camera Dougs OFF';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
            });

            // $('#cmd-toggle-camera-1-on input').on('change', function () {
            //     if (timeout) clearTimeout(timeout);
            //     this.checked ? data = 'Camera 1 Enabled' : data = 'Camera 1 Disabled';
            //     timeout = setTimeout(() => {
            //         data = '';
            //     }, 3000)
            //     if (ws.readyState === WebSocket.OPEN) {
            //         ws.send('toggle-camera-1-on');
            //     }
            // });
            // $('#cmd-toggle-camera-2-on input').on('change', function () {
            //     if (timeout) clearTimeout(timeout);
            //     this.checked ? data = 'Camera 2 Enabled' : data = 'Camera 2 Disabled';
            //     timeout = setTimeout(() => {
            //         data = '';
            //     }, 3000)
            //     if (ws.readyState === WebSocket.OPEN) {
            //         ws.send('toggle-camera-2-on');
            //     }
            // });
            $('#cmd-toggle-camera-1-status').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Camera 1 Enabled' : data = 'Camera 1 Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-camera-1-on');
                }
            });
            $('#cmd-toggle-camera-2-status').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'Camera 2 Enabled' : data = 'Camera 2 Disabled';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-camera-2-on');
                }
            });
            $('#cmd-toggle-rtsp-out').on('change', function () {
                if (timeout) clearTimeout(timeout);
                this.checked ? data = 'RTSP Video only' : data = 'No Video out';
                timeout = setTimeout(() => {
                    data = '';
                }, 3000)
                if (ws.readyState === WebSocket.OPEN) {
                    ws.send('toggle-rtsp-out');
                }
            });
            setInterval(getSystem, 3000);
            function getSystem() {
                $.get("http://" + server + ":8000/jetson_state", function (data) {
                    if (data?.cpu_temp) {
                        $('li.device').removeClass('d-none');
                    } else {
                        $('li.device').addClass('d-none');
                    }
                    if (data.status == "running") {
                        $("#status").removeClass('offline').addClass('online');
                        $("#status").html("Online");
                        if ($("#auto-connect").is(":checked") == true && $("#btn-connect").hasClass('btn-connected') == false) {
                            $("#btn-connect").trigger("click");
                        }
                    } else {
                        getStatus_notRunning();
                    }
                }).fail(function (e) {
                    $('li.device').addClass('d-none');
                    getStatus_notRunning();
                });

            }

            function getStatus_notRunning() {
                console.log('Not running');
                $("#status").removeClass('online').addClass('offline');
                // $("#status").html("");
            }

            function statusCheck() {
                $.get("http://" + server + ":8000/jetson_state", function (data) {
                    if (data?.cpu_temp) {
                        $('li.device').removeClass('d-none');
                    } else {
                        $('li.device').addClass('d-none');
                    }
                    if (data.status == "running") {
                        $('li.device').removeClass('d-none');
                    } else {
                        $('li.device').addClass('d-none');
                        getStatus_notRunning();
                    }
                }).fail(function (e) {
                    $('li.device').addClass('d-none');
                    getStatus_notRunning();
                });
            }
            statusCheck();
        });

    </script>

</body>

</html>