#main-info {
    margin-left: 20px;
}

#video-preview {
    position: relative;
    height: 33vw;

}

#video-preview canvas,
#video-preview video,
#video-preview img {
    width: 100%;
    position: absolute;
}

.btn-connected {
    background-color: #12ef8c !important;
}

.btn-disconnected {
    background-color: red !important;
}

#server-version {
    padding: 5px;
    float: right;
}

.video-input div {
    font-size: 15px;
    margin-bottom: 2px;
}

.json-content {
    padding-left: 0px;
}

#json-section {
    /* height: 500px; */
    overflow: auto;
    overflow-y: hidden;
}

#json-section pre {
    /* height: 35.5vw; */
}

.server-input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.server-input .btn {
    margin-top: 0px;
    height: 26px;
    line-height: 0.5 !important;
}

.server-input span {
    margin-top: 1px;
}

#commands-section div {

    margin: 3px;
    padding: 3px;
    border: solid 1px #b7b7b7;
    cursor: pointer;
    font-size: 14px;
}

#commands-section div input {
    float: right;
}

.PositionInput {
    font-size: 15px;
}

.preset-input .btn {
    margin-left: 1px;
}

.shutdown .btn {
    margin-left: 2px;
}

.collapse-btn {
    font-weight: 900;
}

.zero-height {
    display: none;
}

#toggle-model-status input {
    margin-top: 4.5px;
}

#toggle-model-status {
    cursor: auto !important;
}

.input-width {
    width: 62%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.settings-modal {
    background: rgb(2, 20, 13, 0.97);
    overflow: hidden;
}

.menu-height {
    transition: all .3s ease-out;
    height: 300px;
}

.toggle-margin-menu {
    margin-bottom: 320px !important;
}

.settings-menu {
    display: flex;
}

#btn-settings {
    top: 90%;
    position: relative;
    height: 100%;
    width: 145px;
    font-size: 15px;
    padding: 7.5px;
}

footer:hover>.settings-menu {
    top: 50%;
}

#btn-settings:hover {
    color: black !important;
}

.tabset input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    padding: 30px 0;
    height: 260px;
    display: none;
    margin-top: 15px;
}

.tabset input:first-child:checked~.tab-panels .tab-panel:first-child,
.tabset input:nth-child(3):checked~.tab-panels .tab-panel:nth-child(2),
.tabset input:nth-child(5):checked~.tab-panels .tab-panel:nth-child(3),
.tabset input:nth-child(7):checked~.tab-panels .tab-panel:nth-child(4),
.tabset input:nth-child(9):checked~.tab-panels .tab-panel:nth-child(5),
.tabset input:nth-child(11):checked~.tab-panels .tab-panel:nth-child(6) {
    display: block;
}

.tabset>label {
    position: relative;
    display: inline-block;
    padding: 9px;
    cursor: pointer;
    width: 80px;
    text-align: center;
    color: white;
    /* background: #12f08d; */
    background: rgb(128, 120, 128, 0.17);
    border-radius: 0.2rem;
}

.tabset>label::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    width: 100%;
    height: 4px;
}

/* .tabset > label:hover::after, */
.tabset input:focus+label::after,
.tabset input:checked+label::after {
    background: #12f08d;

}

.tabset input:checked+label {
    border-color: #ccc;
    background: rgb(128, 120, 128, 0.17);
}

.tabset {
    text-align: left;
    width: 95%;
    padding-left: 50px;
}

.tabs-view {
    padding-left: 35px;
    background: rgb(128, 128, 128, 0.77);
}

.tab-panels-show {
    padding-left: 35px;
}

.tabset-imgs {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 50px;
    display: flex;
}

.tabset-imgs>div {
    cursor: pointer;
    padding: 8px 15px;
    background: rgb(128, 120, 128, 0.17);
    margin-right: 3px;
}

.tabset-imgs div>img {
    width: 20px;
    height: 20px;
}

.tabset-imgs div:nth-child(4)>img {
    width: 30px;
    height: 30px;
}

.tabset-imgs>div:nth-child(4) {
    padding: 8px 10px;
}

.auto-connect-input {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    height: 42px;
}

.form-check-auto-connect {
    min-height: 1.2rem;
}

.tab-panels section {
    overflow: auto;
}