body {
    color: white !important;
    background-color: #051710 !important;
    font-family: 'Roboto';
    overflow-x: hidden;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bg-dark {
    background-color: #02140d !important;
}

.active {
    text-decoration: underline solid #12f08d 4px;
}

/*
.btn {
    width: 200px !important;
}*/



.navbar img {
    margin-left: 5px;
}

.navbar .navbar-nav {
    margin-left: 30px;
}

.navbar .navbar-nav .nav-item {
    padding-left: 30px;
}

.form-check-input:checked {
    background-color: #12f08d;
    border-color: #12f08d;
}

.btn:hover {
    color: white !important;
}

/*.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  color: black !important;
  
}*/
.btn-success {
    background-color: #12f08d !important;
    border-color: #12f08d !important;
    color: black !important;

}

.btn-success:disabled {
    background-color: gray !important;
    border-color: #12f08d !important;
}

.btn-secondary {
    color: black !important;

}

.form-control {
    padding: 0px 2px;
    font-size: 15px;
    margin-top: 0px;
}

.online {
    color: #12f08d;
}

.offline {
    color: #FD1313;
}

.amber {
    color: #ffbf00;
}


.config-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.config-list ul li {
    margin-right: 25px;
    float: left;
}

.config-list ul li button {
    width: auto !important;
    margin-top: 0px;
    height: 26px;
    line-height: 0.5 !important;
    box-shadow: none !important;
}

.modal {
    z-index: 9999;
}

.modal .modal-content {
    color: black;
}

.config-modal .modal-content .modal-body textarea {
    width: 100%;
    height: 380px;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
}

.config-modal .modal-content .modal-footer button {
    width: auto !important;
}

.config-modal .modal-content .modal-body .form-control {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

@media (min-width: 576px) {
    .update-manager-model {
        max-width: 600px;
    }
}



.scrollable-container::-webkit-scrollbar {
    margin-top: 10px;
    width: 1rem;
    height: 0.6rem;
    /* border-radius: 15px; */
}

.scrollable-container::-webkit-scrollbar-thumb {
    /* background: #e4e9f2; */
    background: #12f08d;
    cursor: pointer;
    border-radius: 15px;
}

.scrollable-container::-webkit-scrollbar-track {
    background: #f7f9fc;
    border-radius: 15px;
}

.toast-container {
    z-index: 90000999;
}

.toast-header.bg-primary {
    background-color: #12f08d !important;
}

.toast-header.bg-danger {
    background-color: #FD1313 !important;
}

.toast-body h5 {
    color: black;
}


.box {
    position: relative;
    background: #ffffff;
    width: 100%;
}

.box-header {
    color: #444;
    display: block;
    padding: 15px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 15px;
}


.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 42%;
    top: 50px;
    font-size: 16px;
}

.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.preview-zone {
    text-align: center;
}

.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.form-check-input:focus {
    box-shadow: none;
}

ul.remove-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.remove-bullets>li {
    display: flex;
}

ul.remove-bullets>li>input {
    margin-top: 0.13rem;
}

ul.remove-bullets>li>p {
    font-size: 13px;
}

#pull-progress>li {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.darkgray {
    color: darkslategray !important;
}

.default-msg {
    font-size: 14px !important;
}

.btn-secondary:focus {
    box-shadow: none !important;
}

#btn-switch-video {
    width: 90px;
    float: right;
}

@media (min-width: 768px) {
    .scrollable-container {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    #update-licence {
        position: absolute;
    }
}

@media (max-width: 990px) {
    .main-content {
        max-width: 960px;
    }

    .top-btn .btn {
        width: 65px !important;
    }

    h6.text-capitalize {
        font-size: 15px;
    }

    #btn-switch-video {
        width: 60px;
    }

    .convert-col {
        margin-top: 210px;
        padding: 0 25px;
    }

    .video-input div {
        font-size: 14px !important;
    }

    .input-width {
        width: 53% !important;
    }

    .side-menu {
        width: 25.333333%;
        display: none;
    }

    .main-menu {
        /* width: 72.666667%; */
    }

    #btn-settings {
        width: 155px !important;
    }

}

@media (max-width: 768px) {
    #video-preview {
        height: 58vw;
    }

    h6.text-capitalize {
        font-size: 12px;
    }

    #update-licence {
        position: absolute;
    }

    .side-menu {
        padding: 0;
    }

    .convert-col {
        margin-top: 190px;
        padding: 0 25px;
    }

    .video-input div {
        font-size: 13px !important;
    }

    .input-width {
        width: 50% !important;
    }

    .top-nav-margin {
        margin-top: 5px !important;
    }

    #btn-settings {
        width: 155px !important;
    }
}